@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  box-sizing: border-box;
}

tr,
th,
td {
  text-align: center;
}

.btn__first {
  margin-top: 20px;
}

.edit {
  margin-right: 10px;
}
.save {
  margin-right: 10px;
}

.wrapper__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__edit_value {
  width: auto;
  font-size: 18px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #f6f6f6;
  border-radius: 8px;
}
