@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  box-sizing: border-box;
  background-color: rgb(248, 238, 238);
}

tr,
th,
td {
  text-align: center;
}

.btn__first {
  margin-top: 20px;
}

.edit {
  margin-right: 10px;
}
.save {
  margin-right: 10px;
}

.wrapper__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__edit_value {
  width: auto;
  font-size: 18px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #f6f6f6;
  border-radius: 8px;
}

.input__user {
  font-size: 18px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #f6f6f6;
  border-radius: 8px;
  margin-right: 10px;
}

.input__last {
  font-size: 18px;
  padding: 6px 0 4px 10px;
  border: 1px solid #cecece;
  background: #f6f6f6;
  border-radius: 8px;
}

.logo__title {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.nav__link {
  font-size: 22px;
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.logo__title:hover {
  color: white;
}
.nav__link:hover {
  color: white;
  border-bottom: 1px solid white;
}

.wrapper__home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.home__link {
  font-size: 26px;
  color: rgb(68, 68, 155);
  text-decoration: none;
}

.home__link:hover {
  border-bottom: 2px solid rgb(68, 68, 155);
}

.wrapper__error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
